.display-top {
    display: flex;
    border: 1px solid green;
    height: 800px;
    width: 1000px;
}

.left-panel {
    width: 25%;
    border: 1px solid red;
}

.project-tile {
    height: 100px;
    width: 200px;
    border: 1px solid green;
}

.edit-project, .delete-project {
    width: 40px;
    height: 40px;
}

.edit-project:hover, .delete-project:hover {
    filter: drop-shadow(3px 3px 3px red);
}

.project-tile:hover {
    background-color: aquamarine;
}

.right-panel {
    width: 75%;
    border: 1px solid blue;
}

.invisible {
    display: none;
}

.form-content * {
    display: block;
}
